html,body{
	font-size:18px;
	padding-left:5px;
	margin-bottom:20px;

}
fieldset{
	border:none !important;
}
.buttons{
	font-size:18px;
}

label{
	font-weight:normal;
}

#paid{
	display:none;
}

.paymentdiv{
	text-align:center;
}
div.g-recaptcha{
	text-align:center;
	margin:0 auto;
	position:relative;
	width: 50%;
display: block;
margin-right:155px;

}
#amountpaid{
	   border-radius: 5px;
	   border:1px black;
    background: #cccccc;
    padding: 20px; 
    width: 150px;
    height: 20px; 
    text-align:center;
}

        body {
            font-family:Verdana,sans-serif;font-size:0.8em;
            }
        div#header,div#footer {
            border:1px solid grey;
            margin:5px;margin-bottom:15px;padding:8px;
            background-color:white;
            }
        div#content {
            background-color:#ddd;
            }
        legend {
            font-weight: bold;
            padding-left: 5px;
            padding-right: 5px;
            }
